body,
body * {
margin: 0;
padding: 0;
vertical-align: top;
box-sizing: border-box;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
   overflow: hidden;
}

.play-area, .startPage{
    width: 90%;
    background-image: url(../images/bg-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    height: 100vh;
}
.score-table {
    width: 80px;
    height: 50px;
    border-radius: 25px;
    border: 1px solid white;
    z-index: 3;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    color: white;
    font-weight: bold;
    position: absolute;
}
.myObj {
    background-repeat: no-repeat;
    background-size:cover ;
    position: relative;
   top: 90%;
   right: -40%;
    border-radius: 50%;
}
    

.terrain {
    width: 300px;
    height: 20px;
    background-color: rgb(178, 176, 196);
    position: absolute;
    transition: smooth;
    z-index: 1;
}

@media ( max-width:500px) {
    .play-area,.startPage {
        width: 100%;
        height: 95vh;
    }
    .myObj {
       top: 75%;
    }
    
}